In [1]:
import sqlite3
import pandas as pd

In [11]:
conn = sqlite3.connect('../data/processed/kavak_market.db')

query = """
SELECT marca, COUNT(*) AS total, AVG(precio_mxn) as precio_promedio 
FROM autos
GROUP BY marca
ORDER BY total;
"""

df = pd.read_sql_query(query, conn)
conn.close()

In [12]:
print(df[:10])  # Mostrar las primeras 10 filas

        marca  total  precio_promedio
0        Dfsk      1    375999.000000
1       Geely      1    491999.000000
2  Great Wall      1    437999.000000
3       Lexus      1    644799.000000
4        Baic      2    218999.000000
5       Tesla      2    554999.000000
6         Gmc      3    408332.333333
7         Ram      3    310665.666667
8    Cadillac      4    756999.000000
9       Cupra      4    511749.000000