In [1]:
import sqlite3
import pandas as pd

In [22]:
conn = sqlite3.connect('../data/processed/kavak_market.db')

query = """
SELECT marca, COUNT(*) AS total, AVG(precio_mxn) as precio_promedio 
FROM autos
GROUP BY marca
ORDER BY total DESC;
"""

df = pd.read_sql_query(query, conn)
conn.close()

In [23]:
print(df)

            marca  total  precio_promedio
0             Kia    199    280014.075377
1       Chevrolet    126    214483.126984
2           Mazda    123    311924.861789
3      Volkswagen    119    339730.092437
4          Nissan    101    292919.811881
5            Ford     97    451225.804124
6             Bmw     83    448079.722892
7              Mg     68    252304.882353
8            Audi     65    370322.076923
9   Mercedes Benz     54    464124.925926
10        Hyundai     53    301187.679245
11         Toyota     47    367833.042553
12        Renault     41    282920.975610
13            Jac     36    286693.444444
14           Seat     35    270684.714286
15          Dodge     35    321970.428571
16        Peugeot     33    348253.545455
17          Honda     31    303479.645161
18           Mini     28    323241.857143
19          Buick     26    316722.076923
20         Suzuki     24    256374.000000
21           Jeep     21    367570.428571
22         Chirey     17    294175.470588
23           Fiat     11    225999.000000
24          Volvo      8    506874.000000
25            Byd      8    562999.000000
26       Infiniti      7    411427.571429
27            GAC      7    359999.000000
28     Mitsubishi      6    274499.000000
29        Lincoln      6    355149.000000
30       Chrysler      6    363332.333333
31          Acura      6    455999.000000
32          Cupra      4    511749.000000
33       Cadillac      4    756999.000000
34            Ram      3    310665.666667
35            Gmc      3    408332.333333
36          Tesla      2    554999.000000
37           Baic      2    218999.000000
38          Lexus      1    644799.000000
39     Great Wall      1    437999.000000
40          Geely      1    491999.000000
41           Dfsk      1    375999.000000